@charset "UTF-8";

@font-face {
    font-family: 'Belly';
    src: url('fontes/Belly\ Betty.ttf') format('opentype'), url('fontes/Belly\ Betty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root{
    --fonte1: 'Montserrat', sans-serif;
    --fonte2: 'Belly', sans-serif;
    
}

body{
    max-height: 97vh;
    background-color: rgba(255, 166, 0, 0.633);
    font-family: var(--fonte1);
}

header{
    
    font-family: var(--fonte1);
}

header > h1{
    margin-top: -8px;
    margin-left: -7px;
    padding-top: 0px;
    margin-bottom: 1px;
    padding-bottom: 25vh;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-size: 2vw;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url("imagens/logo.png");
}

nav{
    font-family: var(--fonte1);
    background-color: rgba(249, 147, 80, 0.718);
    padding: 10px;
    box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.192);
    border-radius: 0px 0px 0px 0px;
    margin-left: -7px;
    
}

nav > a{
    color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav >:hover{
    background-color: rgb(226, 61, 43);
    color: black;
    
}

article{
    margin-left: -7px;
    padding-top: 10px;
    padding-bottom: 50vh;
    padding-left: 30px;
    max-width: auto;
    box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.192);
    font-family: var(--fonte2);
    font-size: 100px;
    color: aliceblue;
    text-align: justify;
    border-radius: 0px 0px 10px 10px;
    background-image: url("imagens/naty.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200px;
}

section{
    height: 300px;
    padding: 30vh;
    box-shadow: 0px 7px 7px rgb(0, 0, 0, 0.192);
    font-family: var(--fonte2);
}

